<template>
  <div>
    <div class="content" v-if="!tagsView">
      <h3>{{ listName }}</h3>

      <form>
        <span class="form-content" v-on:submit="">Criar novo item: </span>
        <input v-model="input" maxlength="20" placeholder="Digite aqui o novo item" class="form-content text-input" type="text">
        <button class="form-content btn small" v-on:click="save()">Salvar</button>

        <div class="error" :v-if="error.length === 0">
          <p v-for="e in error">{{ e }}</p>
        </div>
      </form>

      <ul>
        <li v-for="l in list">
          <button class="btn small del" v-on:click="del(l)">excluir</button>
          <button v-if="withTags == 'true'" class="btn small" v-on:click="openTags(l)">Adicionar Tags</button>
          {{ l.value }}
        </li>
      </ul>
    </div>

    <div class="content block" v-if="tagsView">
      <h3>{{ currentItem.value }}</h3>

      <p>
        <span>Categorias</span>
        <v-select
          multiple
          :options="tags"
          :value.sync="selectedTagsToSave">
        </v-select>
      </p>

      <button class="btn" type="button" v-on:click="saveTags()">Salvar</button>

    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'listCode',
      'listName',
      'withTags'
    ],
    data: function () {
      return {
        tags: [],
        list: [],
        error: [],
        input: undefined,
        tagsView: false,
        currentItem: undefined,
        selectedTagsToSave: []
      }
    },
    mounted: function () {
      this._getList();
      this.tagsView = false;
    },
    watch: {
      'listCode': function () {
        this._getList();
        this.input = undefined;
        this.tagsView = false;
        this.error = []
      }
    },
    methods: {
      _getList: function () {
        this.list = JSON.parse(localStorage.getItem(this.listCode)  || '[]');
      },
      _getTags: function () {
        return JSON.parse(localStorage.getItem("tags")  || '[]').map(t => t.value);
      },
      del: function (item) {
        this.list = this.list.filter(function(i) {
        	return i != item
        });;
        localStorage.setItem(this.listCode, JSON.stringify(this.list));
      },
      openTags: function (item) {
        this.tags = this._getTags();
        this.currentItem = this.list.find(l => l.value === item.value);
        this.selectedTagsToSave = this.currentItem.tags || [];
        this.tagsView = true;
      },
      saveTags: function () {
        this.currentItem.tags = this.selectedTagsToSave || [];
        localStorage.setItem(this.listCode, JSON.stringify(this.list.map(l => {
          return l.value === this.currentItem.value ? this.currentItem : l;
        })));
        this.currentItem = undefined;
        this.tagsView = false;
      },
      save: function () {

        this.error = [];

        if (!/^[a-z]+$/i.test(this.input)) {
          this.error.push("Só pode conter letras.");
        }

        if (!this.input) {
          this.error.push("O valor não pode ser vazio.");
        }

        if (this.list.some(l => l.value === this.input)) {
          this.error.push("Já existe um item com o nome " + this.input);
        }

        if (this.error.length === 0) {
          this.list.push({
            value: this.input
          });
          localStorage.setItem(this.listCode, JSON.stringify(this.list));
          this.input = undefined;
        }
      }
    }
  }
</script>

<style media="screen">
  .content {
    background: #fafafa;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
  }

  .content > h3 {
    border-bottom: 1px solid #ddd;
  }

  .content > ul {
    padding: 10px;
  }

  .form-content {
    margin-right: 10px;
  }

  .text-input {
    width: 300px;
    height: 20px;
    border-radius: 4px;
    font-family: sans-serif;
    padding: 5px;
    font-size: 14px;
  }

  form > .btn {
    font-size: 14px;
    padding: 8px 30px;
  }

  ul > li {
    list-style: none;
    color: #999;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
  }

  .del {
    color: #fff;
    background: #c30101;
  }

  ul > li > span:hover {
    cursor: pointer;
  }

  ul > li:hover {
    color: #000;
  }

</style>
