<template>
  <div>
    <main-menu></main-menu>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>

  import Menu from './Menu.vue';

  export default {
    components: {
      'main-menu': Menu
    }
  }
</script>

<style media="screen">
  main {
    padding: 30px;
  }

  .btn {
    color: #eee;
    padding: 15px;
    background: #43a047;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  .small {
    padding: 4px 10px;
    font-size: 10px;
  }

  .error {
    color: red;
  }
</style>
