<template>
  <header>
    <ul>
      <li v-for="menu in menus">
        <router-link :to="menu.path">{{ menu.name }}</router-link>
      </li>
    </ul>
  </header>
</template>

<script>
  export default {
    data: () => {
      return {
        menus: [{
          name: 'Jogo',
          path: '/game/config'
        }, {
          name: 'Frases',
          path: '/config/sentences/Frases/true'
        }, {
          name: 'Palavras',
          path: '/config/words/Palavras/true'
        }, {
          name: 'Categorias',
          path: '/config/tags/Categorias/false'
        }, {
          name: 'Ranking',
          path: '/ranking'
        }]
      }
    }
  }
</script>

<style media="screen">

  header {
    background: #eee;
    padding: 5px;
    border-bottom: 3px solid #ddd;
  }

  header > ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
  }

  header > ul > li {
    margin: 0 5px 0 0px;
  }

  header > ul > li > a {
    text-decoration: none;
    color: #eee;
    padding: 15px;
    background: #43a047;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

</style>
