<template>
    <div class="content">
      <h3>Ranking</h3>

      <ul>
        <li v-for="s in scores">
          {{ s.userName }} - {{ s.score }} pontos
        </li>
      </ul>

    </div>
</template>

<script>
  export default {
    data: function () {
      return {
        scores: []
      }
    },
    mounted: function () {
      this.scores = JSON.parse(localStorage.getItem('ranking') || '[]').sort(function(a, b) {
        return parseFloat(b.score) - parseFloat(a.score);
      });;
    }
  }
</script>
