<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import store from 'renderer/vuex/store'
  export default {
    store
  }
</script>

<style media="screen">
  body {
    margin: 0;
    font-family: sans-serif;
  }
</style>
