<template>
  <div>

    <h1>Configuração do Jogo</h1>

    <p>
      <span>Tipos</span>
      <v-select
        :value.sync="selectedGameTypes"
        :options="gameTypes"
        multiple>
      </v-select>
    </p>

    <p>
      <span>Categorias</span>
      <v-select
        multiple
        :options="tags"
        :value.sync="selectedTags">
      </v-select>
    </p>

    <div class="error" :v-if="error.length === 0">
      <p v-for="e in error">{{ e }}</p>
    </div>

    <button class="btn" type="button" v-on:click="play()">Jogar</button>

  </div>
</template>

<script>
  export default {
    data: () => {
      return {
        tags: [],
        selectedGameTypes: [],
        selectedTags: [],
        gameTypes: ['Palavras', 'Frases'],
        error: []
      }
    },
    mounted: function () {
      this.tags = this._getTags();
    },
    methods: {
      play: function () {

        this.error = [];

        if (this.selectedGameTypes.length === 0) {
          this.error.push('É obrigatório informar ao menos um tipo de jogo.');
        }

        if (this.selectedTags.length === 0) {
          this.error.push('É obrigatório informar ao menos uma categoria.');
        }

        if (this.error.length === 0) {
          localStorage.setItem('currentGame', JSON.stringify({
            tags: this.selectedTags,
            types: this.selectedGameTypes
          }));

          this.$router.push({ path: '/game/play' });
        }
      },
      _getTags: () => {
        return JSON.parse(localStorage.getItem('tags')  || '[]').map(t => t.value);;
      }
    }
  }
</script>
