<template>
  <div>
    <div v-if="errorCount > 0">
      <div class="game">
        <h1>Joguinho</h1>

        <p>
          <input class="input-letter" type="text" maxlength="1" v-model="currentLetter">
          <button type="button" class="btn btn-game" v-on:click="tryIt()">Enviar</button>
        </p>

        <p>
          <span
            class="letter"
            v-bind:class="{
              'white-space': letter == ' '
            }"
            v-for="letter in (currentGame.randomWord || []).value">

            <span
              v-show="(currentGame.letters || []).includes(letter)">
              {{letter}}
            </span>
          </span>
        </p>

        <h3 v-if="combo > 1">COMBO!!!!</h3>

        <h3>Score: {{ currentGame.score || 0 }}</h3>

        <div class="error" :v-if="error.length === 0">
          <p v-for="e in error">{{ e }}</p>
        </div>
      </div>
      <div class="game design">
        <div v-bind:class="{ 'white': (errorCount > 5) }" class="head"></div>
        <div v-bind:class="{ 'white': (errorCount > 4) }" class="body"></div>
        <div v-bind:class="{ 'white': (errorCount > 3) }" class="leftArm"></div>
        <div v-bind:class="{ 'white': (errorCount > 2) }" class="rightArm"></div>
        <div v-bind:class="{ 'white': (errorCount > 1) }" class="leftLeg"></div>
        <div v-bind:class="{ 'white': (errorCount > 0) }" class="rightLeg"></div>
      </div>

    </div>
    <div v-if="errorCount <= 0">
      <h1>GAME OVER</h1>
      <h2>Score: {{ currentGame.score || 0 }} pontos</h2>

      <p>
        <input class="input-score" type="text" maxlength="20" v-model="userName">
        <button type="button" class="btn btn-game" v-on:click="saveScore()">Salvar</button>
      </p>

      <div class="error" :v-if="errorScore.length === 0">
        <p v-for="e in errorScore">{{ e }}</p>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      currentGame: {},
      currentLetter: undefined,
      userName: undefined,
      error: [],
      errorScore: [],
      errorCount: 5,
      combo: -1
    }
  },
  mounted: function () {
    this.currentGame = this._getCurrentGame();
    this.currentGame.words = [];

    if (this.currentGame.types.includes("Palavras")) {
      this.currentGame.words = this.currentGame.words.concat(this._getWords());
    }

    if (this.currentGame.types.includes("Frases")) {
      this.currentGame.words = this.currentGame.words.concat(this._getSentences());
    }

    if (this.currentGame.tags && this.currentGame.tags.length > 0) {

      let self = this;

      this.currentGame.words = this.currentGame.words.filter(i => {

        let result = false;

        (i.tags || []).forEach(t => {
          if (self.currentGame.tags.includes(t)) {
            result = true;
          }
        });

        return result;
      });
    }

    if(this.currentGame.words == false){
      alert('Cadastre categorias para as palavras e frases.');
      this.$router.push({ path: '/config/words/Palavras/true' });
    }

    this._handon();
  },
  methods: {
    _handon: function () {
      this.currentGame.randomWord = this.currentGame.words[
        Math.floor(Math.random() * this.currentGame.words.length)
      ];
    },
    _getCurrentGame: () => {
      return JSON.parse(localStorage.getItem('currentGame') || '[]');
    },
    _getWords: () => {
      return JSON.parse(localStorage.getItem('words') || '[]');
    },
    _getSentences: () => {
      return JSON.parse(localStorage.getItem('sentences') || '[]');
    },
    _getRanking: () => {
      return JSON.parse(localStorage.getItem('ranking') || '[]');
    },
    tryIt: function () {

      this.error = []

      if (!/^[a-z]+$/i.test(this.currentLetter)) {
        this.error.push("Digite uma letra, animal!");
        return;
      }

      if (!this.currentLetter) {
        this.error.push('É obrigatório informar uma letra!');
        return;
      }

      if (this.currentLetter == ' ') {
        this.error.push('Não digite espaços!');
        return;
      }

      if (!this.currentGame.letters) {
        this.currentGame.letters = []
      }

      if (this.currentGame.letters.includes(this.currentLetter)) {
        this.error.push('Já digitou essa letra');
        this.currentLetter = undefined;
        return;
      }

      if (this.currentGame.randomWord.value.includes(this.currentLetter)) {
        this.currentGame.letters.push(this.currentLetter);
        if (!this.currentGame.score) {
          this.currentGame.score = 0;
        }

        this.combo ++;

        this.currentGame.score += this.currentGame.randomWord.value
          .match(new RegExp(this.currentLetter, 'g')).length *
          (this.combo > 1 ? this.combo : 1) * 20;
      } else {
        this.error.push('Letra incorreta');
        this.currentLetter = undefined;
        this.errorCount --;
        this.combo = -1;

        if (this.errorCount === 0) {
          alert('Faleceu!')
        }

        return;
      }

      if (this.currentGame.randomWord.value
          .split('')
          .filter(w => w != ' ')
          .filter((elem, pos, arr) => arr.indexOf(elem) == pos)
          .length == this.currentGame.letters.length) {
        alert('Acertou!')
        this._handon();
        this.currentGame.letters = [];
      }

      this.currentLetter = undefined;
    },
    saveScore: function () {

      this.errorScore = []

      if (!this.userName) {
        this.errorScore.push('Nome do usuário é obrigatório');
        return;
      }

      let ranking = this._getRanking() || [];
      ranking.push({ userName: this.userName, score: this.currentGame.score || 0 })
      localStorage.setItem('ranking', JSON.stringify(ranking));
      this.$router.push({ path: '/ranking' })
    }
  }
}
</script>

<style media="screen">
  .letter {
    background: #eee;
    padding: 5px 18px 5px 18px;
    margin: 3px;
    border-radius: 4px;
    font-size: 24px;
  }

  .white-space {
    background-color: #fff;
  }

  .input-letter {
    width: 23px;
    padding: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 30px;
  }

  .input-score {
    width: 423px;
    padding: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 30px;
  }

  .btn-game {
    font-size: 30px;
    margin-left: 3px;
  }

  .game {
    width: 50%;
    float: left;
  }

  .design {
    float: right;
    text-align: center;
  }
  .head{
    height: 50px;
    width: 50px;
    border: 5px solid #333;
    border-radius: 100%;
  }

  .body{
    height: 100px;
    width: 5px;
    background: #333;
    margin-left: 27px;
  }

  .leftArm{
    height: 48px;
    width: 5px;
    background: #333;
    margin-left: 9px;
    transform: rotate(45deg);
    margin-top: -100px;
  }

  .rightArm{
    height: 48px;
    width: 5px;
    background: #333;
    margin-left: 43px;
    transform: rotate(-45deg);
    margin-top: -50px;
  }

  .leftLeg{
    height: 48px;
    width: 5px;
    background: #333;
    margin-left: 9px;
    transform: rotate(45deg);
    margin-top: 45px;
  }

  .rightLeg{
    height: 48px;
    width: 5px;
    background: #333;
    margin-left: 43px;
    transform: rotate(-45deg);
    margin-top: -50px;
  }

  .white {
    background: none;
  }

</style>
